@charset "UTF-8";
body {
  background-color: #f9e401;
  padding-left: 20px;
}

body .result_h1 {
  font-size: 24px;
}

body .result_row {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

body .result_box {
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 60px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: black;
}

body #box_0::before {
  content: "最高‼";
  display: block;
  height: 60px;
  width: 200px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  float: left;
  margin-right: 20px;
  background-color: #f9e401;
  box-sizing: border-box;
  border: 2px solid #000;
}

body #box_1::before {
  content: "普通‼";
  display: block;
  height: 60px;
  width: 200px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  float: left;
  margin-right: 20px;
  background-color: #f9e401;
  box-sizing: border-box;
  border: 2px solid #000;
}

body #box_2::before {
  content: "まだまだ‼";
  display: block;
  height: 60px;
  width: 200px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  float: left;
  margin-right: 20px;
  background-color: #f9e401;
  box-sizing: border-box;
  border: 2px solid #000;
}

body a {
  width: 100px;
  margin: 50px auto 100px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #000;
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: 0 2px 5px 2px rgba(90, 90, 90, 0.918);
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

body a:hover {
  box-shadow: none;
  opacity: 0.9;
  margin: 52px auto 98px;
}
